<div class="post-form">
  <h3>Add Comment</h3>
<%= form_with(model: @comment, url: user_post_comments_url(@post.author, @post), local: true) do |form| %>
  <%= form.label :text %>
  <%= form.text_area :text %>
  <%= form.submit 'Create Comment' %>
<% end %>
</div>
